.Popup-container {
  display: flex;
  flex-direction: column;
}

.ChartPopUp {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.Header {
  font-size: 20px;
  color: #5d5a5a;
  padding: 20px;
  margin: 25px 20px 0px 20px;
  border: 1px solid black;
  border: 1px solid #f3f0f0;
  box-shadow: 0 15px 10px #f3f0f0;
}

.Header span {
  color: #3661be;
}
